@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Regular.woff");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Italic.woff");
    font-display: swap;
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Medium.woff");
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-MediumItalic.woff");
    font-display: swap;
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-SemiBold.woff");
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-SemiBoldItalic.woff");
    font-display: swap;
    font-weight: 600;
    font-style: italic;
}

:root {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.3em;

    --colorWhite: #ffffff;
    --colorBG1: #171717;
    --colorBG2: #27272a;
    --colorBG3: #3f3f46;
    --colorBG4: #79737a;
    --colorBlueDark: #0e7490;
    --colorBlueLight: #06b6d4;
    --colorAdvantage: #22c55e;
    --colorDisadvantage: #dc2626;
    --colorWealth: #514931;
    --colorRations: #2e4b3c;
    --colorSanityGain: #382b51;
    --colorSanityLoss: #4f2d30;

    --fontSizeBody: 12px;
    --fontSizeLead: 14px;
    --fontSizeH1: 42px;
    --fontSizeH2: 30px;
    --fontSizeH3: 24px;

    --transition: all 0.2s ease-in-out;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    position: relative;
    line-height: 1.3em;
    scrollbar-width: thin;
    scrollbar-color: var(--colorBG4) transparent;
}

body {
    background-color: var(--colorBG1);
    color: var(--colorWhite);
    height: calc(100vh - 40px - 5rem);
    padding: 2rem;
}

input,
textarea {
    all: unset;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0.5em;
}
h2 {
    font-size: 2.25rem;
    font-weight: 600;
}
h3 {
    font-size: 1.75rem;
    font-weight: 600;
}
h4 {
    font-size: 1.5rem;
    font-weight: 600;
}
h5 {
    font-size: 1.25rem;
    font-weight: 600;
}
h6 {
    font-weight: 600;
}

#app,
.tab,
.tabContent,
main {
    width: 100%;
    height: 100%;
}

.tabTrigger,
.tabList {
    background-color: var(--colorBG2);
    color: var(--colorWhite);
}

.tabTrigger[data-active="true"] {
    background-color: var(--colorBlueDark);
    color: var(--colorWhite);
}

.tabList {
    padding: 5px 10px;
    height: max-content;
}

.tab main {
    display: grid;
    gap: 20px;
}

.tab.editViewGrid article > section {
    opacity: 1;
    pointer-events: all;
}

.tab.editViewGrid article > section {
    opacity: 0;
    pointer-events: none;
}
.tab.editViewGrid .viewGridSettings,
.tab.editViewGrid .containerSettings {
    pointer-events: all;
    opacity: 1;
}

.tabWrapper {
    display: flex;
    gap: 20px;
    font-weight: 500;
    .generalInfo {
        display: flex;
        padding: 5px 10px;
        background-color: var(--colorBG2);
        border-radius: 6px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        > div {
            background-color: var(--colorBG3);
            padding: 5px 10px;
            border-radius: 6px;
            > span {
                color: var(--colorBlueLight);
            }
        }
        .infoLevel input {
            width: 25px;
        }
        .infoClass input {
            width: 130px;
        }
        .infoRace input {
            width: 100px;
        }
        .infoBackground input {
            width: 130px;
        }
        .infoProfBonus input {
            width: 15px;
        }
    }
    .settings {
        background-color: var(--colorBG2);
        color: var(--colorBlueLight);
        height: 40px;
        width: 50px;
        padding: 5px 10px;
        border-radius: 6px;
        transition: var(--transition);
        cursor: pointer;

        &.active,
        &:hover {
            color: var(--colorWhite);
            background-color: #0e7490;
        }
    }
}
.tabContent {
    padding-top: 60px;
    margin: 0;
    .viewGridSettings {
        background-color: var(--colorBG2);
        padding: 5px 10px;
        border-radius: 6px;
        display: flex;
        flex-direction: row;
        font-weight: 500;
        gap: 10px;

        z-index: 4;
        position: absolute;
        left: 0;
        top: -55px;

        > div {
            background-color: var(--colorBG3);
            padding: 5px 10px;
            border-radius: 6px;
            height: max-content;
            span {
                color: var(--colorBlueLight);
            }
            input {
                width: 25px;
            }
        }
    }
    article {
        background-color: var(--colorBG2);
        padding: 20px;
        border-radius: 6px;
        overflow: auto;
        overflow-x: hidden;
        .containerSettings {
            pointer-events: none;
            opacity: 0;
            transition: var(--transition);
            z-index: 100;

            height: max-content;
            width: max-content;
            position: absolute;
            display: flex;
            flex-direction: column;
            gap: 10px;

            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            > div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: var(--colorBG3);
                padding: 5px 10px;
                border-radius: 6px;
                span {
                    color: var(--colorBlueLight);
                    font-weight: 500;
                }
                input {
                    width: 60px;
                }
            }
        }
    }
}

.defaultContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    > .innerContainer {
        background-color: var(--colorBG3);
        border-radius: 3px;
        padding: 5px 10px;
        display: flex;
        flex-direction: column;
        gap: 3px;
        span {
            display: inline-block;
            font-weight: 600;
            color: var(--colorBlueLight);
            padding-right: 0.75ch;
            flex-shrink: 0;
        }
        input {
            font-weight: 400;
            width: 2ch;
            padding-right: 0.5ch;
        }
        > div {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }
    }
}
